
.sprite_ai_ai-images {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -2px -2px rgba(0, 0, 0, 0);
    height: 97px;
    width: 192px;
}
.sprite_ai_ai_email {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -198px -2px rgba(0, 0, 0, 0);
    height: 48px;
    width: 48px;
}
.sprite_ai_ai_facebook {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -198px -52px rgba(0, 0, 0, 0);
    height: 48px;
    width: 48px;
}
.sprite_ai_ai_twitter {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -250px -2px rgba(0, 0, 0, 0);
    height: 48px;
    width: 48px;
}
.sprite_ai_add-images {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -302px -2px rgba(0, 0, 0, 0);
    height: 46px;
    width: 56px;
}
.sprite_ai_ai_check {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -362px -2px rgba(0, 0, 0, 0);
    height: 44px;
    width: 60px;
}
.sprite_ai_ai_gray_plus {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -250px -52px rgba(0, 0, 0, 0);
    height: 33px;
    width: 30px;
}
.sprite_ai_ai_white_plus {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -302px -50px rgba(0, 0, 0, 0);
    height: 30px;
    width: 30px;
}
.sprite_ai_fyi {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -362px -48px rgba(0, 0, 0, 0);
    height: 28px;
    width: 28px;
}
.sprite_ai_ai_step_inactive {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -394px -48px rgba(0, 0, 0, 0);
    height: 26px;
    width: 27px;
}
.sprite_ai_ai_step_active {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -426px -2px rgba(0, 0, 0, 0);
    height: 26px;
    width: 27px;
}
.sprite_ai_warning {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -457px -2px rgba(0, 0, 0, 0);
    height: 25px;
    width: 30px;
}
.sprite_ai_ai_step_arrow_rtl {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -284px -52px rgba(0, 0, 0, 0);
    height: 24px;
    width: 10px;
}
.sprite_ai_ai_step_arrow {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -336px -50px rgba(0, 0, 0, 0);
    height: 24px;
    width: 10px;
}
.sprite_ai_ai_step_arrow_l {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -426px -30px rgba(0, 0, 0, 0);
    height: 24px;
    width: 10px;
}
.sprite_ai_ai_step_arrow_r {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -426px -58px rgba(0, 0, 0, 0);
    height: 24px;
    width: 10px;
}
.sprite_ai_ai_step_arrow_r_rtl {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -440px -30px rgba(0, 0, 0, 0);
    height: 24px;
    width: 10px;
}
.sprite_ai_ai_step_arrow_l_rtl {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -440px -58px rgba(0, 0, 0, 0);
    height: 24px;
    width: 10px;
}
.sprite_ai_button-gold-arrow {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -284px -80px rgba(0, 0, 0, 0);
    height: 17px;
    width: 12px;
}
.sprite_ai_search_icon {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -302px -84px rgba(0, 0, 0, 0);
    height: 17px;
    width: 17px;
}
.sprite_ai_warning_min {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -336px -78px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite_ai_or {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -491px -2px rgba(0, 0, 0, 0);
    height: 13px;
    width: 408px;
}
.sprite_ai_rotate-icon {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -362px -80px rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite_ai_newad_aiexc {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -394px -78px rgba(0, 0, 0, 0);
    height: 13px;
    width: 14px;
}
.sprite_ai_ai_icon_plus {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -250px -89px rgba(0, 0, 0, 0);
    height: 12px;
    width: 11px;
}
.sprite_ai_main-image-check {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -426px -86px rgba(0, 0, 0, 0);
    height: 11px;
    width: 9px;
}
.sprite_ai_main-image-nocheck {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -440px -86px rgba(0, 0, 0, 0);
    height: 11px;
    width: 9px;
}
a:hover .sprite_ai_delete-button, a.sprite_ai_delete-button:hover {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -457px -29px rgba(0, 0, 0, 0);
    height: 11px;
    width: 10px;
}
.sprite_ai_delete-button {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -457px -44px rgba(0, 0, 0, 0);
    height: 11px;
    width: 10px;
}
.sprite_ai_add-infobox-arrow {
    background: url("/img/ai.png?3f9b13b8b1fac1b1a8a25f9d3c76d78cdea17d05") no-repeat scroll -457px -59px rgba(0, 0, 0, 0);
    height: 8px;
    width: 8px;
}
.tooltip {
    background-color: #FFFFF4;
    border: 1px solid #D5D58F;
    border-radius: 3px;
    display: block;
    font-size: 91.7%;
    left: 350px;
    padding: 0 8px;
    position: absolute;
    width: 190px;
}
.not-ie6 .tooltip-tipleft {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid #AAAAAA;
    border-top: 8px solid rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 7px;
    width: 0;
}
.ie6 .tooltip-tipleft {
    display: block;
}
.tooltip-wrapper {
    display: block;
    left: 0;
    overflow: visible;
    position: relative;
    top: 0;
}
.tooltip-content {
    border-radius: 3px;
    margin: 0;
    padding: 0;
}
.tooltip-close {
    color: #CCCCCC;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 0;
    margin-top: -1px;
    padding: 0;
    text-decoration: none;
}
.tooltip-close:hover {
    color: #000000;
    text-decoration: none;
}
.tooltip-visible, .tooltip-visible .tooltip {
    display: block;
}
.tooltip-hidden, .tooltip-hidden .tooltip {
    display: none;
}
#tooltip-body {
    clear: both;
    margin-top: 8px;
    position: static;
    width: 100%;
}
#tooltip-body .tooltip {
    margin-left: 148px !important;
    margin-top: -178px !important;
    position: absolute !important;
    width: 189px !important;
}
#tooltip-body .tooltip-tipleft {
    display: block;
}
#tooltip-price {
    clear: both;
    margin-top: 37px;
    position: static;
    width: 100%;
}
#tooltip-price .tooltip {
    height: 65px !important;
    margin-left: -42px !important;
    margin-top: -45px !important;
    position: absolute !important;
    width: 152px !important;
}
#tooltip-price .tooltip-tipleft {
    display: block;
    margin-top: 6px;
}
#tooltip-price .tooltip .tooltip-content {
    margin-top: -3px;
}
.suffix {
    margin-left: 110px;
    margin-top: -36px;
}
.ie8 .suffix {
    margin-top: -28px;
}
.ie8 #tooltip-price .tooltip {
    margin-top: -36px !important;
}
.ie9 .suffix {
    margin-top: -28px;
}
.ie9 #tooltip-price .tooltip {
    margin-top: -36px !important;
}
.ie6 .subject .col_right {
    position: relative;
}
.ie6 .tooltip-wrapper {
    position: static;
}
.ie #tooltip-price {
    margin-top: 13px !important;
}
.ie8 .ie9 #tooltip-price {
    margin-top: 40px !important;
}
.lightbox_fade {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 90;
}
.ie6 .lightbox_fade, .ie6 .lightbox_box {
    position: absolute;
}
.lightbox_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    left: 50%;
    margin-left: -245px;
    overflow: auto;
    padding: 20px;
    position: fixed;
    top: 20px;
    width: 450px;
    z-index: 100;
}
.ie6 .lightbox_box {
    border: 1px solid #CCCCCC;
}
.lightbox_box .lightbox_close {
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 2;
}
hr {
    clear: both;
    display: block;
    overflow: hidden;
}
.progress_steps {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 3px solid #F3694C;
    display: block;
    height: 24px;
    line-height: 32px;
    overflow: hidden;
    padding-bottom: 10px;
}
.progress_steps a {
    color: #000000;
    display: inline;
    font-weight: normal;
    overflow: hidden;
}
.progress_steps a span {
    color: #9B9FA0;
    font-size: 16px;
    font-weight: bold;
    padding-left: 35px;
    position: relative;
}
.progress_steps a:hover, .progress_steps a:hover span {
    text-decoration: none;
}
.progress_steps a.active span {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #F36A4C;
}
.progress_steps i, .progress_steps span {
    float: left;
}
.progress_steps .step_number {
    font-family: arial;
    font-size: 15px;
    left: 15px;
    line-height: 22px;
    padding: 2px 5px 0;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 16px;
}
.progress_steps span {
    padding-right: 8px;
}
#post_vf .ctext3 {
    font-size: 91.7%;
}
#deletion_reasons_fieldset ul {
    list-style-type: none;
}
#subject {
    width: 320px;
}
.action h1 {
    margin-bottom: 16px;
}
#err_load_image {
    max-width: 550px;
}
#err_email {
    max-width: 550px;
}
.row {
    clear: left;
    display: block;
    line-height: 16px;
    margin-bottom: 16px;
    overflow: hidden;
}
.row.phone {
    margin-bottom: 24px;
}
.row.buttons input {
    float: left;
    margin-right: 16px;
}
.row textarea {
    max-height: 600px;
    max-width: 520px;
    width: 320px;
}
.row.input .col_left {
    margin-top: 5px;
}
.row .col_left {
    float: left;
    font-weight: bold;
    padding-right: 16px;
    text-align: right;
    width: 115px;
}
.row .col_left span {
    display: block;
    line-height: 16px;
    padding: 4px 0;
}
.row .col_left .input_count {
    display: block;
    font-weight: normal;
}
.row .col_left .input_count #body_count {
    display: inline;
}
.row .space_span {
    display: block;
    margin-top: 8px;
}
.row .col_right {
    display: block;
    float: left;
    overflow: hidden;
    width: 565px;
}
.row .col_right .Info {
    width: 360px;
}
.row .col_right .selectbox {
    float: left;
}
.row .col_right .error_label {
    clear: both;
}
.row .col_right .pricebox_no_zeroes {
    display: block;
    height: 1%;
    overflow: hidden;
    width: 450px;
}
.row .col_right .pricebox_no_zeroes .space_span {
    float: left;
}
.row .col_right .pricebox_no_zeroes .suffix, .row .col_right .pricebox_no_zeroes .prefix {
    float: left;
    line-height: 26px;
    padding: 0;
}
.row .col_right .pricebox_no_zeroes input {
    float: left;
}
.row .col_right .pricebox {
    display: block;
    height: 1%;
    overflow: hidden;
    width: 450px;
}
.row .col_right .pricebox .space_span {
    float: left;
}
.row .col_right .pricebox input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
    text-align: right;
}
.row .col_right .pricebox .pricebox_end {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom-right-radius: 3px;
    border-color: #AAAAAA #AAAAAA #AAAAAA -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-top-right-radius: 3px;
    border-width: 1px 1px 1px medium;
    float: left;
    font-size: 100%;
    line-height: 16px;
    padding: 4px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.row .col_right .pricebox .suffix, .row .col_right .pricebox .prefix {
    float: left;
    line-height: 26px;
    padding: 0;
}
.row .col_right p {
    display: block;
    line-height: 16px;
    padding: 4px 0;
}
.form_container {
    display: block;
    height: 1%;
    overflow: hidden;
    padding: 16px;
}
.form_container.preview .col_right {
    width: 565px;
}
.form_container .body_count, .form_container .optional {
    display: block;
}
.form_container .preview_thumb_images {
    display: block;
    float: left;
    margin-bottom: 16px;
    margin-right: 16px;
    overflow: hidden;
}
.form_container #image2 {
    margin-bottom: 16px;
}
.form_container .pricebox_no_zeroes .optional {
    margin-left: -70px;
    margin-top: 18px;
    position: absolute;
}
.form_container #extra_images_form {
    clear: both;
    display: block;
    overflow: hidden;
}
.form_container #extra_images_form span, .form_container #extra_images_form input {
    clear: left;
    float: left;
}
.form_container #upload_form {
    clear: both;
    display: block;
    margin-bottom: 16px;
    overflow: hidden;
}
.form_container .sprite_ai_ai_button {
    display: block;
    margin: 0 auto;
}
.form_container .sprite_ai_ai_button .ctext1 {
    width: 182px;
}
.form_container .sprite_ai_ai_button .ctext3 {
    text-align: center;
}
.form_container .share_buttons a {
    display: block;
}
.form_container .share_buttons div {
    float: left;
    width: 33%;
}
.form_container .column3 {
    border-right: 1px solid #CCCCCC;
    height: 125px;
    margin: 0;
    padding: 0 16px;
    width: 210px;
}
.form_container .column3.last {
    border-right: 0 none;
    padding-right: 0;
}
.form_container .column3.first {
    padding-left: 0;
}
.form_container .column3 p {
    color: #F26A4C;
    font-size: 11px;
    font-weight: bold;
}
.form_container h2.newadheading {
    border-bottom: 1px solid #F26A4C;
    clear: both;
    color: #F26A4C;
    font-size: 120.3%;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 0;
    padding-bottom: 4px;
}
.form_container h3 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 133.3%;
    font-weight: bold;
    margin-bottom: 16px;
    padding-bottom: 6px;
}
.form_container .text_box {
    border-radius: 8px;
    display: block;
    height: 240px;
    margin: 15px auto;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    width: 660px;
}
.form_container p {
    margin-top: 0;
}
.form_container #phone {
    display: block;
    margin-bottom: 4px;
}
.form_container #size {
    min-width: 60px;
    width: 60px;
}
.form_container #price {
    min-width: 60px;
    width: 110px;
}
.form_container #submit {
    margin-top: 24px;
}
#ad_verify_text p {
    font-size: 16px;
    line-height: 32px;
}
#vf_sendtip .optional {
    float: none;
}
.ie6 #sendtip_form_reply, .ie7 #sendtip_form_reply {
    width: 100%;
}
.ie6 .pricebox .suffix, .ie6 .pricebox .prefix {
    line-height: 20px !important;
}
.ie6 .pricebox_end {
    padding: 2px 4px !important;
}
.item_img {
    display: block;
    margin: 0 auto 8px;
    overflow: visible;
    padding: 2px;
    position: relative;
}
.item_img:hover .multiple_images {
    border: 1px solid #777777;
}
.item_img img {
    border: 1px solid #AAAAAA;
    padding: 1px;
}
.item_img img.no_border {
    border: 0 none;
    left: 2px;
    padding: 0;
    position: absolute;
    top: 2px;
}
.item_img .multiple_images {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #AAAAAA;
    padding: 1px;
    position: absolute;
}
.item_img .multi_one {
    left: 0;
    top: 0;
}
.item_img .multi_two {
    left: 2px;
    top: 2px;
}
.item_img .multi_three {
    left: 4px;
    top: 4px;
}
.gallery .item {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}
.gallery .item.last {
    border: 0 none;
}
.gallery .item small {
    display: block;
    font-weight: bold;
}
.gallery .item_subject {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
    text-align: center;
}
.gallery .item_subject a {
    display: block;
}
.item_price {
    display: block;
    font-weight: bold;
    text-align: center;
}
#loading_top {
    float: right;
    margin-right: 4px;
}
#loading {
    float: left;
}
#loading {
    line-height: 36px;
    margin-left: 8px;
}
.sub_category {
    clear: both;
    float: left;
    margin-top: 8px;
}
.radio {
    margin-right: 12px;
}
.Info {
    max-width: 320px;
}
#multicurrency_option_container {
    margin-left: 12px;
}
#multicurrency_option_container input {
    float: none;
}
.lightbox_box label {
    clear: both;
    display: block;
    margin-top: 8px;
    width: 100%;
}
.lightbox_box .loading {
    float: right;
}
#company_ad_special_rule {
    margin-left: 12px;
}
#a_ai {
    cursor: pointer;
    display: block;
}
#a_ai .ctext1 {
    width: 100%;
}
#a_ai .ctext3 {
    color: #FFFFFF;
    font-family: Berlin sans fb demi;
    font-size: 18px;
    height: 40px;
    margin-left: 2px;
    margin-right: 8px;
    margin-top: 13px;
    text-align: center;
    text-shadow: 0 1px 2px #000000;
    width: 99%;
}
.refused .msg_error {
    margin: 0 0 8px;
    padding: 8px;
}
.refused .refused_text {
    font-weight: normal;
}
.refused .refused_head {
    margin-bottom: 4px;
}
.hidden {
    display: none;
}
.button.imageadd-button {
    display: inline-block;
    position: relative;
}
.imageadd-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.sprite_ai_rtl_ai_icon_plus {
    margin-right: 7px;
    margin-top: 7px;
}
.sprite_ai_ai_check {
    margin-left: 150px;
    margin-top: 27px;
    position: absolute;
}
.sprite_ai_rtl_ai_check {
    margin-left: 150px;
    margin-top: 27px;
    position: absolute;
}
.sprite_ai_ai_icon_plus {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 7px;
    vertical-align: text-top;
    width: 14px;
}
.small_text {
    display: block;
}
#image_previews_container {
    margin: 20px 0 0;
    padding: 0;
    width: 565px;
}
#image_previews_container li.img_preview {
    float: left;
    list-style: none outside none;
    margin-right: 30px;
    padding: 3px 0;
}
#image_previews_container li.img_preview div {
    border: 1px dashed #CBCBCB;
    border-radius: 5px;
    height: 80px;
    position: relative;
    text-align: center;
    width: 120px;
}
#image_previews_container li.img_preview div .menu {
    background: none repeat scroll 0 0 #111111;
    border-radius: 0 0 3px 3px;
    bottom: 0;
    display: block;
    height: 16px;
    opacity: 0.5;
    position: absolute;
    width: 120px;
}
#image_previews_container li.img_preview a {
    border: 0 none;
    bottom: 1px;
    color: #FFFFFF;
    font-size: 9px;
    font-weight: normal;
    position: absolute;
    text-decoration: none;
}
#image_previews_container li.img_preview a.delete_menu {
    left: 0;
    margin-left: 4px;
}
#image_previews_container li.img_preview a.main_menu {
    margin-right: 4px;
    right: 0;
}
#image_previews_container li.img_preview .delete_menu_icon {
    color: #FF0000;
    margin-right: 3px;
}
#image_previews_container li.img_preview .main_menu_icon {
    color: #26B831;
    margin-right: 3px;
}
#image_previews_container li.img_preview .first_img_top_menu {
    background: none repeat scroll 0 0 #111111;
    border: medium none;
    border-radius: 3px 3px 0 0;
    height: 17px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 120px;
}
#image_previews_container li.img_preview .first_img_text {
    color: #FFFFFF;
    font-size: 9px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 120px;
}
#image_previews_container li.img_preview.first div {
    border: 1px dashed #3DA450;
}
#image_previews_container li.img_preview.loaded div {
    border: 1px solid #CBCBCB;
}
#image_previews_container li.img_preview.loaded img {
    border-radius: 3px;
    height: 80px;
    width: 120px;
}
#image_previews_container li.img_preview.first.loaded div {
    border: 1px solid #3DA450;
}
#image_previews_container {
    margin: 20px 0 0;
    padding: 0;
    width: 565px;
}
#image_previews_container li.upload_frame {
    float: left;
    list-style: none outside none;
    margin-right: 30px;
    padding: 3px 0;
}
#image_previews_container li.upload_frame div {
    background: none repeat scroll 0 0 #CBCBCB;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    height: 80px;
    position: relative;
    width: 120px;
}
#image_previews_container li.upload_frame div a {
    display: block;
    height: 80px;
    text-decoration: none;
    width: 120px;
}
#image_previews_container li.upload_frame div a .sprite_ai_rtl_ai_white_plus {
    margin-left: 39px;
    margin-top: 23px;
    position: absolute;
}
#image_previews_container li.upload_frame div a .sprite_ai_ai_white_plus {
    margin-left: 45px;
    margin-top: 23px;
    position: absolute;
}
#image_previews_container li.upload_frame div a .upload_frame_text {
    color: #FFFFFF;
    font-size: 9px;
    font-weight: normal;
    margin-left: 15px;
    margin-top: 62px;
    position: absolute;
    text-decoration: none;
}
.oneline {
    margin: 1px 0 10px;
}
.onelinestyle {
    color: #4A75A2;
    padding: 0;
}
.onelinestyle span {
    margin-right: 5px;
}
.sprite_ai_rtl_newad_aiexc {
    display: block;
    float: left;
    margin-top: 4px;
}
.sprite_ai_newad_aiexc {
    display: block;
    float: left;
}
.aiupload-start {
    display: block;
    overflow: hidden;
}
.aiupload-start .aiupload-introtext {
    display: block;
    font-size: 116.7%;
    line-height: 24px;
    margin-bottom: 18px;
}
.aiupload-left, .aiupload-right {
    display: block;
    float: left;
    overflow: hidden;
}
.aiupload-left {
    cursor: pointer;
    margin-right: 23px;
    position: relative;
    text-align: center;
    width: 125px;
}
.aiupload-left:hover .button-gold {
    background-color: #DFBD55;
    background-image: -moz-linear-gradient(center top , #FED65E, #DFBD55);
    background-repeat: repeat-x;
    color: #584712;
}
.aiupload-left:active .button-gold {
    background-color: #FED65E;
    background-image: -moz-linear-gradient(center top , #DEBC54, #FED65E);
    background-repeat: repeat-x;
    border-bottom: 0 none;
    border-top: 1px solid #7F6B30;
    box-shadow: 0 1px 0 #BFA148 inset;
    color: #584712;
}
.aiupload-right {
    padding-left: 7px;
    position: relative;
    width: 410px;
}
.aiupload-right .ai-images {
    position: absolute;
    right: 0;
    top: 10px;
}
.aiupload-cloud {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    display: block;
    font-size: 116.7%;
    line-height: 24px;
    overflow: hidden;
    padding: 20px 20px 20px 15px;
    width: 373px;
}
.aiupload-cloud span {
    display: block;
    text-align: center;
    width: 200px;
}
#imageupload {
    border: 0 none;
    cursor: pointer;
    font-size: 99px;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.button.imageadd-button {
    display: inline-block;
    position: relative;
}
.aiupload-add-image-wrap {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 3px dashed #E6E6E6;
    border-radius: 8px;
    display: block;
    overflow: hidden;
    padding: 14px 20px;
}
.aiupload-add-image-wrap i {
    float: none;
    margin: 0 auto;
}
.infobox-arrow {
    left: 0;
    position: absolute;
    top: 56px;
}
.images .button-gold {
    background-color: #ECCD6D;
    background-image: -moz-linear-gradient(center top , #FBDF8C, #ECCD6D);
    background-repeat: repeat-x;
    border: 1px solid #C8AB53;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #735D1D;
    cursor: pointer;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 80%;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin: 6px 0 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #EEDEAF;
    white-space: nowrap;
}
.images .button-gold:hover {
    background-color: #DFBD55;
    background-image: -moz-linear-gradient(center top , #FED65E, #DFBD55);
    background-repeat: repeat-x;
    color: #584712;
    text-decoration: none;
}
.images .button-gold:active {
    background-color: #FED65E;
    background-image: -moz-linear-gradient(center top , #DEBC54, #FED65E);
    background-repeat: repeat-x;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #7F6B30;
    box-shadow: 0 1px 0 #BFA148 inset;
    color: #584712;
}
.images .button-large {
    height: 42px;
    line-height: 42px;
    margin-top: 18px;
    padding: 0 16px;
}
.image-item .button-gray {
    background-color: #E7E7E7;
    background-image: -moz-linear-gradient(center top , #FAFAFA, #E7E7E7);
    background-repeat: repeat-x;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #646464;
    cursor: pointer;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 100%;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    margin: 0 12px 0 0;
    padding: 0 12px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
}
.image-item .button-gray:hover {
    background-color: #D9D9D9;
    background-image: -moz-linear-gradient(center top , #EDEDED, #D9D9D9);
    background-repeat: repeat-x;
    color: #3F3F3F;
    text-decoration: none;
}
.image-item .button-gray:active, .image-item .button-gray.button-active {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #D8D8D8, #EEEEEE);
    background-repeat: repeat-x;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #7B7B7B;
    box-shadow: 0 1px 0 #BFA148 inset;
    color: #3F3F3F;
    padding-bottom: 1px;
}
.image-item .button-gray.button-active {
    color: #404040;
    font-weight: bold;
}
.image-item .button-gray i {
    display: inline-block;
    float: none;
    margin-right: 7px;
    vertical-align: -2px;
}
.image_previews_container {
    border-top: 1px dashed #E1E1E1;
    display: block;
    overflow: hidden;
    position: relative;
}
.image-item {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dashed #E1E1E1;
    display: block;
    height: 60px;
    overflow: hidden;
    padding: 7px;
    position: relative;
    width: 551px;
}
.image-item .loader {
    margin: 23px 33px;
}
.image-item.first {
    background: none repeat scroll 0 0 #F7F7F7;
}
.image-item .item-img, .image-item .item-buttons, .image-item .item-delete {
    display: block;
    float: left;
    overflow: hidden;
}
.image-item .item-img {
    height: 60px;
    margin-right: 13px;
    width: 80px;
}
.image-item .item-delete {
    height: 75px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.image-item .item-delete a {
    display: block;
    overflow: hidden;
    padding: 32px 0;
}
.image-item .item-buttons {
    display: block;
    margin-top: 16px;
    overflow: hidden;
}
.aiupload-button-bottom {
    float: left;
    margin-top: 12px;
    overflow: hidden;
    position: relative;
}
.aiupload-button-bottom i {
    display: inline-block;
    float: none;
    margin-right: 5px;
    vertical-align: -5px;
}
.ie7 .aiupload-button-bottom i, .ie6 .aiupload-button-bottom i {
    display: none;
}
.progress-bar {
    display: block;
    height: 20px;
    margin: 24px 0 6px;
    position: relative;
    width: 563px;
}
.progress {
    background: linear-gradient(to bottom, #6CC55D 0px, #50A642 50%, #49993C 50%, #408934 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #2E6B25;
    border-radius: 50px;
    box-shadow: 0 1px 0 0 #7EDE6F inset;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 5;
}
.bar {
    background: linear-gradient(to bottom, #D7D7D7 0px, #EEEEEE 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 1px 1px 0 inset;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#keyboardInputMaster {
    -moz-user-select: none;
    background-color: #DDDDDD;
    border-color: #EEEEEE #888888 #444444 #CCCCCC;
    border-radius: 0.6em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 10px #444444;
    cursor: default;
    font: 11px Arial,sans-serif;
    height: auto;
    margin: 0;
    min-height: 0;
    min-width: 0;
    opacity: 0.95;
    padding: 0;
    position: absolute;
    text-align: left;
    width: auto;
    z-index: 1000000;
}
#keyboardInputMaster * {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #000000;
    font: 11px/1.3em Arial,sans-serif;
    height: auto;
    margin: 0;
    min-height: 0;
    min-width: 0;
    outline: 0 none;
    padding: 0;
    position: static;
    vertical-align: baseline;
    width: auto;
}
#keyboardInputMaster table {
    table-layout: auto;
}
#keyboardInputMaster.keyboardInputSize1, #keyboardInputMaster.keyboardInputSize1 * {
    font-size: 9px;
}
#keyboardInputMaster.keyboardInputSize3, #keyboardInputMaster.keyboardInputSize3 * {
    font-size: 13px;
}
#keyboardInputMaster.keyboardInputSize4, #keyboardInputMaster.keyboardInputSize4 * {
    font-size: 16px;
}
#keyboardInputMaster.keyboardInputSize5, #keyboardInputMaster.keyboardInputSize5 * {
    font-size: 20px;
}
#keyboardInputMaster thead tr th {
    background-color: #E8B8A8;
    border-radius: 0.6em 0.6em 0 0;
    padding: 0.3em 0.3em 0.1em;
    text-align: right;
    white-space: nowrap;
}
#keyboardInputMaster thead tr th div {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    font-size: 130% !important;
    font-weight: bold;
    height: 1.3em;
    margin-right: 0.5em;
    position: relative;
    z-index: 1;
}
#keyboardInputMaster thead tr th div ol {
    background-color: #F6F6F6;
    border: 1px solid #999999;
    display: none;
    height: 9.4em;
    left: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 90%;
    width: 12em;
}
#keyboardInputMaster thead tr th div ol li {
    cursor: pointer;
    padding: 0.2em 0.4em;
    white-space: nowrap;
    width: 12em;
}
#keyboardInputMaster thead tr th div ol li.selected {
    background-color: #FFFFCC;
}
#keyboardInputMaster thead tr th div ol li:hover, #keyboardInputMaster thead tr th div ol li.hover {
    background-color: #DDDDDD;
}
#keyboardInputMaster thead tr th span, #keyboardInputMaster thead tr th strong, #keyboardInputMaster thead tr th small, #keyboardInputMaster thead tr th big {
    background-color: #FEFEFE;
    border-color: #E5E5E5 #5D5D5D #5D5D5D #E5E5E5;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 1.4em;
    line-height: 1.4em;
    margin: 0 0 0 0.3em;
    padding: 0 0.4em;
    transition: background-color 0.15s ease-in-out 0s;
    vertical-align: middle;
}
#keyboardInputMaster thead tr th strong {
    font-weight: bold;
}
#keyboardInputMaster thead tr th small {
    border-radius: 0.3em 0 0 0.3em;
    border-right: 1px solid #AAAAAA;
    padding: 0 0.2em 0 0.3em;
}
#keyboardInputMaster thead tr th big {
    border-left: 0 none;
    border-radius: 0 0.3em 0.3em 0;
    margin: 0;
    padding: 0 0.3em 0 0.2em;
}
#keyboardInputMaster thead tr th span:hover, #keyboardInputMaster thead tr th span.hover, #keyboardInputMaster thead tr th strong:hover, #keyboardInputMaster thead tr th strong.hover, #keyboardInputMaster thead tr th small:hover, #keyboardInputMaster thead tr th small.hover, #keyboardInputMaster thead tr th big:hover, #keyboardInputMaster thead tr th big.hover {
    background-color: #DDDDDD;
}
#keyboardInputMaster tbody tr td {
    padding: 0.2em 0.3em 0.3em;
    text-align: left;
    vertical-align: top;
}
#keyboardInputMaster tbody tr td div {
    position: relative;
    text-align: center;
}
#keyboardInputMaster tbody tr td table {
    border-collapse: separate;
    border-spacing: 0;
    white-space: nowrap;
    width: 100%;
}
#keyboardInputMaster tbody tr td#keyboardInputNumpad table {
    margin-left: 0.2em;
    width: auto;
}
#keyboardInputMaster tbody tr td table.keyboardInputCenter {
    margin: 0 auto;
    width: auto;
}
#keyboardInputMaster tbody tr td table tbody tr td {
    background-color: #FEFEFE;
    border-color: #E5E5E5 #5D5D5D #5D5D5D #E5E5E5;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    font-family: 'Lucida Console','Arial Unicode MS',monospace;
    height: 1.8em;
    min-width: 0.75em;
    padding: 0 0.45em;
    transition: background-color 0.15s ease-in-out 0s;
    vertical-align: middle;
    white-space: pre;
}
#keyboardInputMaster tbody tr td table tbody tr td.last {
    width: 99%;
}
#keyboardInputMaster tbody tr td table tbody tr td.space {
    padding: 0 4em;
}
#keyboardInputMaster tbody tr td table tbody tr td.deadkey {
    background-color: #CCCCDD;
}
#keyboardInputMaster tbody tr td table tbody tr td.target {
    background-color: #DDDDCC;
}
#keyboardInputMaster tbody tr td table tbody tr td:hover, #keyboardInputMaster tbody tr td table tbody tr td.hover {
    background-color: #CCCCCC;
    border-color: #D5D5D5 #555555 #555555 #D5D5D5;
    border-style: solid;
    border-width: 1px;
}
#keyboardInputMaster thead tr th span:active, #keyboardInputMaster thead tr th span.pressed, #keyboardInputMaster tbody tr td table tbody tr td:active, #keyboardInputMaster tbody tr td table tbody tr td.pressed {
    background-color: #CCCCCC;
    border-bottom: 1px solid #D5D5D5;
    border-left: 1px solid #555555;
    border-right: 1px solid #D5D5D5;
    border-top: 1px solid #555555 !important;
}
#keyboardInputMaster tbody tr td table tbody tr td small {
    display: block;
    font-size: 0.6em !important;
    line-height: 1.1em;
    text-align: center;
}
#keyboardInputMaster tbody tr td div label {
    bottom: 0.2em;
    left: 0.3em;
    position: absolute;
}
#keyboardInputMaster tbody tr td div label input {
    background-color: #F6F6F6;
    font-size: inherit;
    height: 1.1em;
    vertical-align: middle;
    width: 1.1em;
}
#keyboardInputMaster tbody tr td div var {
    bottom: 0;
    color: #444444;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 3px;
}
.keyboardInputInitiator {
    cursor: pointer;
    margin: 0 3px;
    vertical-align: middle;
}
.row.input.js-param.js-size {
    margin-left: 338px;
    position: absolute;
    width: 800px;
}
.row.input.js-param.js-regdate {
    margin-left: 350px;
    margin-top: -52px;
    position: absolute;
    width: 800px;
}
.row.input.js-param.js-regdate.category-2030 {
    margin-top: 0;
}
.row.input.js-param.js-model {
    margin-left: 350px;
    margin-top: -42px;
    position: absolute;
    width: 800px;
}
#duplicate_title {
    color: #FAAD3D;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
}
.duplicate_old_ad {
    clear: left;
    float: left;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
}
.body_duplicate {
    clear: left;
    float: left;
    margin-bottom: 20px;
}
.body_duplicate span {
    clear: left;
    float: left;
    margin-left: 10px;
}
.prefix {
    font-weight: bold;
    margin: 10px 0 0;
}
.password_duplicate {
    clear: left;
    float: left;
}
.delete_duplicate_button {
    clear: left;
    float: left;
}
.bloc_duplicate {
    background-color: #F6F6F6;
    border: 1px solid #CCCCCC;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 5px 5px 15px;
}
.sprite_ai_warning {
    display: block;
    float: left;
    margin-left: 10px;
}
.sprite_ai_rtl_warning {
    display: block;
    float: left;
    margin-left: 10px;
}
.delete_form {
    margin-left: 380px;
}
.prefix_ques {
    font-weight: bold;
    margin-top: 20px;
}
.image_duplicate {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.warning_bloc {
    float: left;
    font-size: 11px;
    margin-top: 6px;
    width: 300px;
}
#warning_cancel {
    margin-left: 36px;
    margin-top: -13px;
}
.sprite_ai_warning_min {
    margin-top: 13px;
}
.sprite_ai_rtl_warning_min {
    margin-top: 13px;
}
#duplicate_title_fyi {
    color: #0FABDA;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
}
.bloc_duplicate_add {
    background-color: #F6F6F6;
    border: 1px solid #CCCCCC;
    margin: 0;
    overflow: hidden;
    padding: 5px 5px 15px;
}
.sprite_ai_fyi {
    display: block;
    float: left;
    margin-left: 10px;
}
.sprite_ai_rtl_fyi {
    display: block;
    float: left;
    margin-left: 10px;
}
.insert_form {
    float: right;
    margin-left: 510px;
}
#vRecDiv {
    margin-top: 0;
}